@charset "UTF-8";

.main-container {
  position: relative;
  max-width: 1600px;
  padding-left: 55px;
  background: #fff;
}

.section1 {
  position: relative;
  width: 100%;
  height: 100vh;

  .bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    .bg-img-direct {
      width: 100%;
    }
    .bg-img-veil {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  .bg-txt {
    width: 450px;
    height: 410px;
    position: absolute;
    top: 41%;
    left: 60%;
    transform: translateY(-50%);

    img {
      width: 80%;
    }
  }

  .head {
    .logo {
      float: left;
      height: 0.8rem;
      display: flex;
      align-items: flex-end;
      h1 {
        position: absolute;
        top: 0;
        text-indent: -9999px;
      }
      a {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        img {
          width: 80%;
        }
      }
    }
    .nav {
      height: auto;
      float: right;

      li {
        float: left;
        height: 0.8rem;
        display: flex;
        align-items: flex-end;

        a {
          padding-left: 12px;
          padding-right: 12px;
          padding-bottom: 12px;
          color: #000;
          font-size: 20px;

          &:hover {
            color: #f26532;
          }
        }
      }
    }
  }
}

.section2 {
  position: relative;

  .start-animate {
    display: block;
    position: absolute;
    width: 59px;
    height: 84px;
    top: -105px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    -webkit-animation: mymove0 1.2s infinite;
    -o-animation: mymove0 1.2s infinite;
    animation: mymove0 1.2s infinite;
    
    span {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      color: #bfc5bf;
    }
  }

  .bg-white {
      width: 630px;

      .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }

      .found-fl {
        float: left;
        width: 58.2%;
        height: 100px;

        .scope {
          margin-top: -82px;
        }

      }

      .found-fr {
        float: right;
        width: 41.8%;
        height: 100%;
        background: #fbfbfb;

        .buildslick {
          height: 580px;
        }
        .buildchange {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }

}

.section3 {
  position: relative;

  .main-container {
    background: #f26532;

    .bgred {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 25px;
      color: #fff;

      .content {
        visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInLeft;
        animation-duration: 2s;

        .business-title {
          float: left;
          width: calc(100% - 1200px);
          width: -webkit-calc(100% - 1200px);

          h2 {
            padding-bottom: 14px;
            vertical-align: top;
            font-size: 24px;
            color: #fff;
            border-bottom: 1px solid #e5e5e5;
          }

          p {
            margin-top: 20px;
            font-size: 14px;
            color: #fff;
            line-height: 1.5;
            padding: 0 20px;
          }
        }
        .business-items {
          position: relative;
          display: inline-block;
          width: 1175px;
          padding-right: 15px;
          padding-left: 15px;
          vertical-align: top;

          li {
            float: left;
            width: 25%;
            padding-top: 38px;
            padding-right: 15px;
            padding-left: 15px;
            font-family: '微软雅黑';

            .item {
              padding-top: 30px;
              -webkit-transition: all .3s ease 0s;
              -moz-transition: all .3s ease 0s;
              -ms-transition: all .3s ease 0s;
              -o-transition: all .3s ease 0s;
              transition: all .3s ease 0s;
              border-top: 1px solid #fff;
              cursor: pointer;

              .left {
                span {
                  display: block;
                  font-size: 24px;
                  color: #fff;
                }
              }

              .img{
                position: relative;
                height: 55px;
                margin-top: 65px;

                img {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  -webkit-transition: all .3s ease 0s;
                  -moz-transition: all .3s ease 0s;
                  -ms-transition: all .3s ease 0s;
                  -o-transition: all .3s ease 0s;
                  transition: all .3s ease 0s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.section4 {
  position: relative;

  .bgwhite {
    height: 630px;

    .content-items {
      background: url("../images/liandian_38.png")no-repeat center;
      background-size: 80%;
      height: 535px;
      position: relative;

      .item {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .leftside {
        border-left: 300px solid #f26532;
        border-top: 170px solid #000;
        border-bottom: 170px solid gray;
        border-right: 300px solid;
        width: 0;
        height: 0;
        position: relative;
        content: '';
      }
    }
  }
}

@keyframes mymove0 {
  0% {
    top: -109px;
  }
  100% {
    top: -103px;
  }
}

@-webkit-keyframes mymove0 {
  0% {
    top: -109px;
  }

  100% {
    top: -103px;
  }
}

@keyframes fadeInLeft{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
